<a href="https://colab.research.google.com/github/MariaIsabelLL/AnalisisSentimientosTwitter/blob/main/1_Programaci%C3%B3n_en_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nombre = 'Maria'
valor = 1
valor2 = 3
valor3 = 10
valor4 = valor+valor2+valor3
print(valor4)
print(valor4/valor2)

14
4.666666666666667

In [ ]:
a = 23
b = 12
c = a + b
print(c)

35

In [ ]:
nombre = 'Maria'
if nombre=='Maria':
  print("Bienvenida Maria")
else:
  print("Bienvenidos a todos")

Bienvenidos a todos

In [ ]:
for i in range(3):
  print(f"Bienvenida {i} ")

Bienvenida 0
Bienvenida 1
Bienvenida 2

In [ ]:
def suma(a,b):
  resultado = a+b
  return resultado

print(suma(5,30))
print(suma(2000,94758203948))

35
94758205948

In [ ]:
import math

print(math.fsum([4,5]))
print(math.sqrt(9))

9.0
3.0